@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&display=swap');
body{
  background-image: url('https://images.wallpapersden.com/image/download/minimalist-black-digital-blend_a2pnam2UmZqaraWkpJRobWllrWdma2U.jpg');
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
h1{
 font-family: "Bitcount Prop Double", system-ui;
 font-size: 50px;
}
h2{
   font-family: "Bitcount Prop Double", system-ui;
   font-size: 35px;
}
.glow{
  color: #0d0c0c;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
  
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #87a3b4, 0 0 40px #506587, 0 0 50px #28424e, 0 0 60px #15232c, 0 0 70px #371a47;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #2e4075, 0 0 40px #362d5d, 0 0 50px #854dff, 0 0 60px #262050, 0 0 70px #213531, 0 0 80px #4c1832;
  }
}
.glowspell{
  color: #e2d5d5;
  text-align: center;
  animation: glowspell 1s ease-in-out infinite alternate;
  
}
@-webkit-keyframes glowspell {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #9f9d9d, ;
  }
  
  to {
    text-shadow: 0 0 20px #fff,0 0 20px #7a7575 ;
  }
}
.alli{
  text-align: left;
}
.tex{
  text-align: justify;
  font-size: 20px;
}
.lux{
  margin-left: 35%;

 
}
.game{
  border: double rgb(154, 145, 145)  1px;;
}
.luxi{
  margin: justify;
  width: 300px;
  height:300px;
}